{% extends 'themes/base_visitor.html.twig' %}

{% block title %}
	Blog
{% endblock %}

{% block description %}
	Consulter blog
{% endblock %}

{% block keywords %}
	blog, articles, Jean Dupont
{% endblock %}

{% block main %}
	<main>
		<h1>Blog</h1>
	</main>
{% endblock %}
