{% extends 'themes/base_visitor.html.twig' %}

{% block title %}
	Contact
{% endblock %}

{% block description %}
	Contactez moi
{% endblock %}

{% block keywords %}
	contact, Jean Dupont
{% endblock %}

{% block main %}
	<main>
		<h1>Contact</h1>
	</main>
{% endblock %}
